<!-- <h2> New Currency </h2>

<%#= @currency do |f| %>

  <div class="group">
    <%#= f.input :currency_id %>
  </div>

  <div class="group">
    <%#= f.input :currency_name %>
  </div>

  <br>
  <%#= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<%# end %> -->
