<!--     <div>
    <p><%#= currency.currency_id %></p>
    <p><%#= currency.currency_data %></p>
    <p>
      <%#= link_to "更新数据"， update_data_currency_path(currency), :method => :post %>
    </p>
    </div> -->